body {
    background-color: red;
}

header {
    margin: auto;
    background-color: green;
    color: blue;
    text-align: center;
    width: 60%;
    height: 30%;
}

.Game {
    padding: 30px, auto, auto, auto;
    background-color: green;
    width: 60%;
    margin: auto;
    text-align: center;
    height: 40%
}
